.input-container {
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
body {
    background-color: #88e8a0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#input {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #b3eab3;
}